
*{

    overflow-y: hidden;  
}
body{
    box-sizing: border-box;
    font-family: averta,sans-serif;
color: #fff;
background: #434645;
 

}
.player{
    margin: 5% 0 0 0;
    text-align: center;
    /* display: inline-block */

}

.button{
    /* background-color: aqua; */
    padding: 12%;
    /* border: 5px solid rgb(0, 0, 0); */
    color: rgb(26, 162, 196);
    /* text-align: center; */
    text-decoration: none;
    display: flex;
    /* align-items: center; */
    font-size: 16px;
    margin-top: 3%;
    margin-left: 25%;
   
    font-size: 20em;
    /* box-sizing: border-box; */
}
.download{
    padding: 3% 15% 3% 15%;
    background: rgb(255, 180, 42);
    border: 1px solid rgb(0, 0, 0);
    color: black;
    font-size: 8%;
    cursor: pointer;
}

